.block-preview-post
  @include nexus
    flex-direction: column
  display: flex
  position: relative
  gap: 1rem

  &__number
    @include nexus
      flex-direction: row-reverse
      border-right: unset
      border-bottom: 1px solid var(--text)
      padding: 1rem 0.5rem
      width: 100%
      height: 3rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    border-right: 1px solid var(--text)
    background: var(--bg-1)
    padding: 1rem 2rem
    width: 3rem

    span
      @extend %subtext

    span:first-of-type
      @include nexus
        text-orientation: mixed
        writing-mode: vertical-rl
      font-weight: 400

    span:last-of-type
      @include nexus
        transform: unset
        text-orientation: unset
        writing-mode: unset
      transform: rotate(180deg)
      text-align: left
      text-orientation: mixed
      writing-mode: vertical-rl
      font-weight: 600

  &__title
    font-weight: 700

  &__excerpt
    @extend %margin-bottom

  &__content
    width: 100%

  &__cover
    @extend %absolute
    z-index: 2
    background: $white

  &__images
    @include tablet-lg
      height: 30vw
    display: flex
    gap: 1rem
    width: 100%
    height: rem-calc(400)

  &__image
    border: 1px solid var(--text)
    width: 100%
    height: 100%

    &--first
      flex: 1
      
      .block-preview-post__images--flip &
        flex: 1 1 25%

    &--second
      flex: 1 1 25%
      
      .block-preview-post__images--flip &
        flex: 1

    .base-image__image
      position: absolute
      object-fit: cover
  