.button-icon(:class='[ "button-icon--" + props.color, "button-icon--" + props.case ]')
  nuxt-link.button-icon__container(
    v-if='props.type === `nuxt`'
    :to=`{ path: props.path, hash: props.hash }`
    :tabindex='tabindex'
    :aria-label='props.aria')
    BaseIcon.button-icon__icon(v-if='props.include_icon && props.icon' :name='props.icon')
    span.button-icon__label(v-html='label')
  a.button-icon__container(
    v-else-if='props.type === `anchor`'
    :href='props.href'
    :target='props.external ? `_blank` : null'
    :tabindex='tabindex' 
    :aria-label='props.aria')
    BaseIcon.button-icon__icon(v-if='props.include_icon && props.icon' :name='props.icon')
    span.button-icon__label(v-html='label')
  button.button-icon__container(
    v-else-if='props.type === `custom`'
    @click='handleClick()'
    :tabindex='tabindex',
    :aria-label='props.aria')
    BaseIcon.button-icon__icon(v-if='icon' :name='icon')
    span.button-icon__label(v-html='label')