section.block-column-tabs(v-if='props')
  .block-column-tabs__container(v-if='props.content' ref='container')
    .block-column-tabs__col
      BlockContent.block-column-tabs__content(v-if='props.content' :props='props.content' animate)
  ColumnTabsMobile(v-if='$store.state.isTabletLg || $store.state.isPhoneLandLg' :props='props')
  ColumnTabsDesktop(v-else :props='props')