nav.navigation-full
  .navigation-full__container(ref='container')
    .navigation-full__left(ref='left')
      .navigation-full__links
        nuxt-link.navigation-full__link(v-for='(link, i) in first'
          :key='`left nav link ${i}`'
          :to='{ path: link.path, hash: link.hash }'
          :class='{ "navigation-full__link--active": $route.path == link.path }'
          v-on:click.native='$route.path === link.path ? top() : null'
          @key.enter='$route.path === link.path ? top() : null') {{ link.name }}
    nuxt-link.navigation-full__logo(to='/'
      aria-label='links to homepage'
      v-on:click.native='$route.path === "/" ? top() : null'
      @key.enter='$route.path === "/" ? top() : null'
      ref='logo')
      BaseIcon(name='logo')
    .navigation-full__right(ref='right')
      .navigation-full__links
        nuxt-link.navigation-full__link(v-for='(link, i) in second'
          :key='`right nav link ${i}`'
          :to='{ path: link.path, hash: link.hash }'
          :class='{ "navigation-full__link--active": $route.path == link.path }'
          v-on:click.native='$route.path === link.path ? top() : null'
          @key.enter='$route.path === link.path ? top() : null') {{ link.name }}
