.block-column-tabs-desktop

  &__container
    @include container
    justify-content: center

  &__col
    @include col (12)

  &__tabs
    display: flex
    flex-direction: row
    gap: 0
    transition: all 0.5s ease
    border-width: 1px
    border-style: solid
    width: 100%

  &__tab-container
    display: flex
    position: relative
    flex-direction: row
    background: none
    cursor: pointer
    width: fit-content
    height: 100%
    overflow: hidden

    &:focus-visible,
    &:hover
      border-color: #777

    &:focus,
    &:focus-visible,
    &:hover
      outline: none

    &:not(:first-of-type)
      .block-column-tabs-desktop__tab
        border-left-width: 1px
        border-left-style: solid
  
    &:last-of-type
      .block-column-tabs-desktop__drawer
        transition: all 1s cubic-bezier(.39, .575, .28, .995) !important
        border-left: 1px solid transparent

    &--active
      transition: flex 0s ease

  &__tab
    display: flex
    position: relative
    flex-direction: column
    justify-content: space-between
    transition: border-right 1s ease 1s, background 0.3s ease
    border-right: 1px solid transparent
    padding: 0.75rem 1rem
    height: 100%
    text-align: center
    color: $white

    .block-column-tabs-desktop__tab-container--active &
      transition: border-right 0s ease, background 0.3s ease

    @include hover-supported
      background: rgba(var(--accent1-rgb), 0.15)
      
      .page-sections__section-container--medium &,
      .page-sections__section-container--dark &
        background: rgba(var(--bg-1-rgb), 0.15)

  &__tab-title
    @extend %subtext
    position: relative
    transform: rotate(180deg)
    width: fit-content
    text-align: left
    text-orientation: mixed
    writing-mode: vertical-rl
    white-space: nowrap
    color: $white

    .page-sections__section-container--medium &,
    .page-sections__section-container--dark &
      color: $white

    .page-sections__section-container--medium &,
    .block-column-tabs-desktop--primary &
      color: var(--primary)

  &__drawer
    position: relative
    // float: left
    transition: min-width 1s cubic-bezier(.39, .575, .28, .995), border-right 0s ease 1s, border-left 0s ease
    // border-right: none
    background: transparent
    padding: 0
    height: 100%
    overflow: hidden
    pointer-events: none
    font-weight: 300

    &--active
      // float: right
      transition: min-width 1s cubic-bezier(.39, .575, .28, .995)
      // border-right: 1px solid $white
      padding: 1rem 0.5rem
      pointer-events: all

  &__content-container
    @extend %absolute
    height: fit-content

  &__content
    padding: 1rem 0.75rem

  &__title
    @extend %h3
    text-align: left

  &__body
    padding-top: rem-calc(8)
    width: 100%
    text-align: left

  &__image
    @extend %margin-top

    &.base-image
      position: relative
      border: 1px solid var(--text)
      background: var(--bg-1)
      padding: 1rem
      width: 80%
      max-width: rem-calc(400)
      height: auto
      overflow: hidden

    .base-image__image
      position: relative
      border: 1px solid var(--text)
      width: 100%
      height: auto

  &__icon
    @extend %margin-top
    &.base-icon
      width: 100%
      max-width: rem-calc(200)

      svg
        width: 100%
        height: auto

  &__button
    @extend %button-margin-top