.block-instagram
  position: relative

  &__container
    @include container
    display: flex
    flex-direction: column
    justify-content: center

  &__col
    @include col(8)
    display: flex
    flex-direction: column
    align-items: center

  // &__content
  //   @extend %margin-bottom--sm

  &__link
    @extend %margin-bottom--md
    @include hover-supported
      .base-icon
        background: var(--primary)
    display: block
  
    .base-icon
      display: flex
      align-items: center
      justify-content: center
      transition: all .2s ease
      border: 1px solid var(--text)
      border-radius: 50%
      width: rem-calc(42)
      height: rem-calc(42)

      svg
        width: 100%
        max-width: 1.75rem

  &__thumbs
    @include tablet
      grid-template-columns: 1fr 1fr
    @include nexus
      grid-template-columns: 1fr
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    gap: 1rem
    transition: all .2s ease

  &__image-container
    position: relative
    border: 1px solid var(--text)
    padding-top: 100%
    width: 100%
    overflow: hidden

    &:focus-visible
      @include focus

  &__image
    @extend %absolute
    @include hover-supported
      transform: scale(1.1)
    transition: all .3s ease-in

    .base-image__image
      object-fit: cover
