.block-instagram(v-if='instagram')
  
  .block-instagram__container
    .block-instagram__col
      BlockContent.block-instagram__content(v-if='props.content' :props='props.content' animate)
      a.block-instagram__link(v-if='props.href' :href='props.href' aria-label='go to Instagram profile in new tab' target='_blank')
        BaseIcon(name='instagram')
  .block-instagram__container
    .block-instagram__thumbs(ref='container')
    
      a.block-instagram__image-container(v-for='(image, i) in instagram',
        :key='`image-${i}`',
        :href='image.permalink',
        target='_blank' rel='noopener noreferrer'
        :aria-label='"instagram-image-" + i'
        ref='images')
        BaseImage.block-instagram__image(:src='image.source', :alt='"instagram-" + i')
