section.block-contact-banner(ref='container')
  .block-contact-banner__container
    .block-contact-banner__col
      BlockContent.block-contact-banner__content(v-if='props.content' :props='props.content' animate)