footer.footer
  .footer__container
    FooterFooterMobile(v-if='$store.state.isTablet || $store.state.isPhoneLandLg'
      :top='top'
      :props='$store.state.global'
      :links='links'
    )
    FooterFooterDesktop(v-else
      :props='$store.state.global' 
      :top='top'
      :links='links')
  .footer__container
    .footer__col
      .footer__text(v-html=``) © #{new Date().getFullYear()} {{ $store.state.global.company_name }}
      .footer__text.footer__text--mobile {{ " | " }} 
      .footer__text Online Advantage by #[a(:href='"https://www.roostergrin.com/"' target="_blank") Rooster Grin Media ]
      nuxt-link.footer__link(to='/accessibility') Accessibility Statement
      .footer__link.footer__userway#accessibilityWidget(tabindex='0' aria-label='Click Here for Accessibility') Click for Accessibility