footer.footer
  .footer__container
    .footer__col
      ul.footer__menu(aria-label='primary menu')
        li.footer__menu-item(
          v-for='(link, i) in links',
          :key='`nav-link-${i}`'
        )
          nuxt-link.footer__link(
            :class=`{ 'footer__link--active': $route.path === link.path }`,
            :to='link.path'
          )
            span(v-html='link.name')
  .footer__container
    .footer__col
      .footer__text(v-html=``) © #{new Date().getFullYear()} {{ $store.state.global.company_name }} | Online Advantage by #[a(:href='"https://www.roostergrin.com/"' target='"_blank"') Rooster Grin Media. ]
      nuxt-link.footer__text(to='/accessibility') Accessibility Statement
      .footer__text.footer__userway#accessibilityWidget(tabindex='0' aria-label='Click Here for Accessibility') Click for Accessibility