.footer
  @extend %component-padding--half
  @include tablet
    padding-bottom: 4rem
  background-color: $black
  color: #f2f2f2

  a,
  &__userway
    @include hover-focus
      color: var(--primary)
    cursor: pointer
    text-decoration: none
    color: $white

    &:focus-visible
      @include focus

  &__col
    @include col(12)
    @include tablet
      flex-direction: column
      align-items: center
      gap: 1rem
    @include phone-land-lg
      flex-direction: column
      align-items: center
      gap: 1rem
    display: flex
    justify-content: space-between
    gap: rem-calc(20) rem-calc(30)
    margin-top: 3rem
    border-top: 2px solid $white
    padding-top: 2rem

  &__container
    @include container

  &__text
    @include tablet-lg
      font-size: rem-calc(14)

    &--mobile
      display: none
