section.block-tiles
  .block-tiles__container(ref='container')
    .block-tiles__col
      BlockContent.block-testimonials__content(v-if='props.content' :props='props.content' animate)
  .block-tiles__container
    .block-tiles__col.block-tiles__col--full
      BlockTilesMobile(v-if='$store.state.isPhoneLg' :props='props')
      BlockTilesDesktop(v-else :props='props')