.navigation-minimal
  .navigation-minimal__container(ref='container')
    Button(v-if='props.navigation.include_button' :props='props.navigation.button' ref='button')
    nuxt-link.navigation-minimal__logo(to='/'
      aria-label='links to homepage'
      v-on:click.native='$route.path === "/" ? top() : null'
      @key.enter='$route.path === "/" ? top() : null'
      ref='logo')
      BaseIcon(name='logo')
    .navigation-minimal__hamburger(:aria-hidden='drawerOpen',
      aria-label='open menu',
      :class="{ 'navigation-minimal__hamburger--active': drawerOpen }",
      @click='toggleDrawer',
      :tabindex="drawerOpen ? '-1' : '0'"
      role='button'
    )
      span
      span 
      span
      span
